body{
    margin: 0;
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #eee;
}

header{
    padding: 20px;
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 15px;
    color:#ccc;
    text-decoration: none;
}

nav a:hover{
    color:white;
}

#hero{
    padding: 100px 40px;
    text-align: center;
}